.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* Space out content a bit */

body {
    padding-top: 20px;
    padding-bottom: 20px;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}


/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}


/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}


/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


/* AÑADIDO POR MI */

.navbar-toggle {
    background-color: #000;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.dropdown-menu > li > a {
    color: #337ab7;
}

.editarbtn {
    margin-right: 5px;
}

#Tablaali {
  text-align: center;
}

#Tablaclatot{
  text-align: center;
}

#Tablaclaultjor{
  text-align: center;
}

#miTabla{
  text-align: center;  
}

.ali {
    margin-right: 5px;
}

.quiali {
    margin-right: 5px;
}

.mer {
    margin-right: 5px;
}

.quimer {
    margin-right: 5px;
}

.campo {
    margin: 0 auto;
    background-image: url(../images/campo.png);
    max-width: 463px;
    position: relative;
    padding-bottom: 25px;
}

.botones{
  margin: 0 auto;
  max-width: 270px;
}

.fila1{
  margin: 0 auto;
  max-width: 253px;
}

.fila2{
  margin: 0 auto;
  padding-top: 5px;
  max-width: 190px;
}

.alinear{
  max-width: 144px;
  margin: 0 auto;
}

.guardar{
  margin: 20px 0;
}

.titulares{
    position: relative;
    display: inline-block;
    color: #fff;
    margin: 0 4px;
}


@media (max-width: 465px) {
    .campo {
        zoom: .9;
    }
}

@media (max-width: 400px) {
    .campo {
        zoom: .76;
    }
}

@media(max-width: 350px) {
    .campo {
        zoom: .65;
    }
}

@media (max-width: 300px) {
    .campo {
        zoom: .54;
    }
}

@media (max-width: 250px) {
    .campo {
        zoom: .43;
    }
}

@media (max-width: 200px) {
    .campo {
        zoom: .32;
    }
}

.lineadel {
    height: 105px;
}

.lineamed {
    height: 105px;
}

.lineadef {
    height: 105px;
}

.lineapor {
    height: 105px;
}

.del1 {
  top: 30px;
  left: 203px;
}

.del2 {
  top: 30px;
  left: 205px;
}

.del3 {
  top: 30px;
  left: 17px;
}

.del4 {
  top: 30px;
  left: -100px;
}

.del5 {
  top: 30px;
  left: 73px;
}

.med1 {
  top: 55px;
  left: 203px;
}

.med2 {
  top: 30px;
  left: 205px;
}

.med3 {
  top: 30px;
  left: 17px;
}

.med4 {
  top: 0px;
  left: -115px;
}

.med5 {
  top: 0px;
  left: 88px;
}

.def1 {
  top: 55px;
  left: 203px;
}

.def2 {
  top: 30px;
  left: 205px;
}

.def3 {
  top: 30px;
  left: 17px;
}

.def4 {
  top: 00px;
  left: -130px;
}

.def5 {
  top: 0px;
  left: 103px;
}

.por {
  top: 30px;
  left: 203px;
}